.button {
  display: inline-block;
  font: inherit;
  font-size: 16px;
  line-height: 1;
  border: 2px solid $main;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  &--round {
    border-radius: 35px;
  }

  &--fill {
    background-color: $main;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: darken($main, 10%) ;
  }

  &:focus {
    outline: 2px solid $mirage;
  }

  &:active {
    background-color: darken($main, 15%) ;
  }
}
