.button {
  display: inline-block;
  font: inherit;
  font-size: 16px;
  line-height: 1;
  border: 2px solid $main;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  &--round {
    border-radius: 35px;
  }

  &--fill {
    background-color: $main;
  }
}
